.class-button {
    color: white;
    font-weight: 700;
}

.class-button:hover {
    font-size: 1.2em;
    
}

/* Fonctionnalités et mises à jour */

.update-list li {
    list-style: none;
}

/* Passeport élève */

.contrast-text {
    color: white; /* Default text color */
    filter: brightness(0) invert(1); /* Adjusts text color to maintain contrast */
}

.list-group-item.active {
    border: none;
}

#student-info ul {
    list-style: none;
    font-size: 1.1em;
    padding-left: 0;
    margin-bottom: 0;
}

.compet1 {
    background-color: #f7d1d5;
    display: inline-block;
    width: 100%;
    padding: 8px 8px;
    text-transform: uppercase;
    border-radius: 8px;
}

.compet2 {
    background-color: #ff6d6d;
    display: inline-block;
    width: 100%;
    padding: 8px 8px;
    text-transform:uppercase;
    border-radius: 8px;
}

.compet3 {
    background-color: #b7b3ca;
    display: inline-block;
    width: 100%;
    padding: 8px 8px;
    text-transform:uppercase;
    border-radius: 8px;
}

.compet4 {
    background-color: #5983b0;
    display: inline-block;
    width: 100%;
    padding: 8px 8px;
    text-transform:uppercase;
    border-radius: 8px;
    color: black;
}

.compet5 {
    background-color: #dde8cb;
    display: inline-block;
    width: 100%;
    padding: 8px 8px;
    text-transform:uppercase;
    border-radius: 8px;
}

.skill-level {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: 800;
}

.skill-level0 {
    background-color: #b7b1b1;
}

.skill-level1 {
    background-color: #ff4747;
}

.skill-level2 {
    background-color: #ffc756fe;
}

.skill-level3 {
    background-color: #6dffa7;
}

.skill-level4 {
    background-color: #319740;
    color: white;
}

.equal-width-table th, .equal-width-table td {
    width: calc(100% / 7);
}

/* editing skills page */

.input-skill {
    width: auto;
    min-width: 100px;
}


@media screen {
    #table-eval-suivi {
        max-height: 400px;
        overflow-y: auto;
    }
}

@media print {

    * {
        font-size: 0.9rem;
    }

    h2 {
        text-decoration: underline;
        font-weight: 700;
    }

    .eval-link {
        color: black !important;
        text-decoration: none !important;
        font-weight: 700 !important;
    }

    .table-border-print, .table-border-print thead, .table-border-print  th, .table-border-print td {
        border: 1px black solid !important;
    }

    .pagebreak { page-break-before: always; }
}